@charset "UTF-8";

/* ========================== */
/* 🌍 GLOBAL STYLES (MOBILE FIRST) */
/* ========Iphone 12 Pro========== */

:root{
  --FontFamily:'Inter', sans-serif;
  --FontSizeTitulosMobile: clamp(1.5rem, 4.5vw, 2rem);
  --FontSizeH3Mobile: clamp(1.2rem, 5vw, 2rem); /* 24px*/
  --FontSizeTextosMobile: clamp(0.9rem, 2.5vw, 1.1rem);
  --FontSizeTitulosDesktop: clamp(2rem, 3.5vw, 2.8rem); 
  --FontSizeTextosDesktop: clamp(1.1rem, 2vw, 1.25rem); 
  --LineHeightTextos: 1.5 - 1.7;
  --ButtonsMenuMobile: clamp(0.85rem, 2vw, 1rem);
  --ButtonsMenuDeskTop: clamp(1rem, 1.5vw, 1.125rem);

  --ColorText: #d1d5db;
  --ColorDestaquesButtons: #1e3a8a;
  --ColorDetalhes: #fbbf24;
  --ColorHover: #D97706;
  --ColorSection1: #252a41;
  --ColorSection2: #1f2a4a;
  --ColorBackground:  #6b7280;
  --ColorHeader: #111827;
  --ColorSidebar: #2d3748;
  --ColorFooter: #4b5563;

  --BoxShadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --BorderRadius: 8px;

}

*{
  margin: 0;
  padding: 0;
  color: inherit; /*Testando esta função*/
  font-family: var(--FontFamily);
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}


.container_nav{
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  color: white;
  padding: 1rem 1%;
  background-color: var(--ColorHeader);
  box-shadow: var(--BoxShadow);
  border-bottom: 1px solid transparent;
  z-index: 1000;
  transition: all 0.45s ease;
}

#nav{
  display: none;
}
.container_nav h2{
  font-size: var(--FontSizeTitulosMobile);
}

.container_nav h2 span {
  color: var(--ColorDetalhes);
}

#hamburger{
  color: var(--ColorDetalhes);
  font-size: 1.5rem;
  background: none;
  border: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#hamburger:hover{
  color: var(--ColorHover);
  transition: all .3s ease;
}

#sidebar{
  position: fixed;
  top: 3.8rem;
  right: -150px;
  width: 150px;
  padding: 2.7rem 1.25rem;
  max-width: 80vw;
  height: 60vh;
  background: var(--ColorHeader);
  z-index: 999;
  overflow-y: auto;
  box-shadow: var(--BoxShadow);
  border-radius: 0 0 0 var(--BorderRadius);
  transition: right 0.3s ease;
}

#sidebar.show{
  right: 0;
}

#sidebar ul li{
  border-radius: var(--BorderRadius);
}

#sidebar ul li a{
  display: block;
  color: var(--ColorDetalhes);
  padding: 0.5rem 0.75rem;
  margin-bottom: 1.125rem;
}

#sidebar ul li:hover{
  background-color: var(--ColorBackground);
  transition: all 0.3s ease;
}

#closeButton{
  position: absolute;
  top: .8rem;
  right: 1rem;
  color: var(--ColorDetalhes);
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

#closeButton:hover{
  color: var(--ColorHover);
  transition: all .3s ease;
}

section{
  scroll-margin-top: 2rem;
  min-height: 100vh;
  width: 100% ;
  margin: auto;
}

/* section home*/
#home {
  background-color: var(--ColorSection1);
  color: var(--ColorText);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: var(--BoxShadow);
  overflow: hidden;
  min-height: 100vh;
}

#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  z-index: 1;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slides picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slides picture.active {
  opacity: 1;
  transform: scale(1.05);
}

.slides img {
  width: 100%;
  height: 100%;
  object-position: center; 
  min-width: 100%;
  min-height: 100%;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-btn, .next-btn {
  background: none;
  border: none;
  color: white;
  font-size: clamp(40px, 5vw, 90px);
  margin: 0 30px;
  cursor: pointer;
}


/* About Section*/
#about{
  background-color: var(--ColorSection2);
  color: var(--ColorText);
  padding: 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about h2 {
  font-size: var(--FontSizeTitulosMobile);
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#about p {
  font-size: var(--FontSizeTextosMobile);
  max-width: 600px;
  line-height: var(--LineHeightTextos);
  text-indent: 0.5rem;
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.5px;
  margin-bottom: 1rem;
}

.about-image{
  display: block;
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: 1.5rem;
  border: 2px solid var(--ColorDetalhes);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShadow);
  transition: transform 0.3 ease-in-out, BoxShadow 0.3s ease-in-out;
}

.about-desktop{
  display: none;
}


/* Games Section*/
#games{
  background-color: var(--ColorSection1);
  color: var(--ColorText);
  padding: 2rem 1.2rem;
  text-align: center;
  overflow: hidden;
}

#games h2, #games h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

#games h2{
  font-size: var(--FontSizeTitulosMobile);
  font-weight: 600;
  margin-bottom: 1rem;
}

#games h3{
  font-size: var(--FontSizeH3Mobile);
  font-weight: 200;
  margin-top: 1rem;
  margin-bottom: .7rem;
}

#games p {
  font-size: var(--FontSizeTextosMobile);
  max-width: 600px;
  line-height: var(--LineHeightTextos);
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.5px;
  margin-bottom: 1rem;
}

.game-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.game-gallery {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  max-width: 400px;
}

.game{
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.game img {
  max-width: 80%;
  height: auto;
  margin: auto;
  display: block;
  border: 3px solid var(--ColorDetalhes);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShadow);
  cursor: pointer;
}

#button-wrapper{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
  font-size: clamp(40px, 5vw, 90px);
}

.btn, .custom-button {
  background-color: var(--ColorDestaquesButtons);
  color: white;
  border-radius: var(--BorderRadius);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2;
}

.custom-button{
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 3vw, 2rem);
}

.btn{
  width: clamp(60px, 15vw, 100px);
  height: clamp(60px, 15vw, 100px);
  padding: .5rem;
  border: 2px solid var(--ColorDetalhes);
}

.custom-button:hover, .btn:hover{
  background-color: var(--ColorHover);
  transition: all 0.3s ;
}


footer {
  background-color: var(--ColorFooter);
  color: var(--ColorText);
  text-align: center;
  padding: 2rem 0;
  font-size: 1rem;
  position: relative;
}

/* Social media icons */
.container_footer ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: .8rem 0;
}

.container_footer a {
  color: var(--ColorDetalhes);
  font-size: 1.8rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.container_footer a:hover {
  transform: scale(1.2);
  color: var(--ColorDetalhesHover);
}

/* Footer text */
footer p {
  font-size: 0.9rem;
  margin-top: 10px;
  opacity: 0.8;
}

/* Back to Top button */
#backToTop {
  position: fixed;
  bottom: 1.3rem;
  right: 1.3rem;
  background: transparent;
  color: white;
  border: none;
  padding: .8rem 1rem;
  border-radius: 50%;
  font-size: 1.3rem;
  cursor: pointer;
  display: none; /* Hidden until the user scrolls */
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#backToTop:hover {
  transform: scale(1.2);
  background-color: var(--ColorDetalhesHover);
}

/* Smooth fade-in effect for the button */
#backToTop.show {
  display: block;
  opacity: 1;
}

#backToTop.hide {
  opacity: 0;
  transition: opacity 0.3s ease;
}

